@font-face {
	font-family: 'Unbounded Blond';
	src: url('./fonts/Unbounded-Blond.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Unbounded';
	src: url('./fonts/Unbounded-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Unbounded';
	src: url('./fonts/Unbounded-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Unbounded';
	src: url('./fonts/Unbounded-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Unbounded';
	src: url('./fonts/Unbounded-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Unbounded';
	src: url('./fonts/Unbounded-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

