.diagram {
	position: relative;
	border-radius: 34px;
	margin-left: calc(var(--bs-gutter-x)* -0.25);
	margin-right: calc(var(--bs-gutter-x)* -0.25);
	padding-top: 75px;
	height: 100%;
	background-image: url("../../../public/images/diagram/diagram_bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% -150px;

	@include media-breakpoint-up(sm) {
		background-position: 50% -200px;
	}

	@include media-breakpoint-up(xl) {
		background: url("../../../public/images/diagram/diagram_bg.png") no-repeat center / cover;
	}
}

.diagram__inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	padding: 0 10px;

	@include media-breakpoint-up(xl) {
		padding: 0;
	}
}

.diagram__title {
	line-height: 1.45;
	font-size: 30px;
	text-align: center;
	max-width: 610px;
	margin: 0 auto 95px;

	@include media-breakpoint-up(xl) {
		font-size: 36px;
	}
}

.diagram__main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 1250px;
	width: 100%;

	@include media-breakpoint-up(xl) {
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
	}
}

.diagram__info {
	max-width: 546px;
	padding: 10px;

	@include media-breakpoint-up(xl) {
		flex-direction: row;
		justify-content: space-between;
		padding: 70px 0 0 40px;
	}
}

.diagram__logo {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	font-weight: 700;
	font-size: 50px;
	line-height: 1;
	margin-bottom: 20px;

	.img {
		margin-right: 20px;
	}

	@include media-breakpoint-up(sm) {
		font-size: 68px;
		justify-content: flex-start;
	}
}

.diagram__supply {
	display: flex;
	justify-content: space-between;
	font-size: 30px;
	padding-bottom: 14px;
	border-bottom: 2px solid $white;
	margin-bottom: 18px;

	@include media-breakpoint-up(sm) {
		font-size: 40px;
	}

	@include media-breakpoint-up(xl) {
		padding-right: 60px;
	}
}

.diagram__about {
	max-width: 650px;
	font-size: 30px;
	line-height: 1.2;
	margin: 0 auto 30px;
	color: $gray-500;
}

.diagram__img {
	@include media-breakpoint-down(lg) {
		.img { width: 100%; }
	}
}