body {
	position: relative;
	background-color: $blue;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: $white;

	//.footer {
	//	position: absolute;
	//	bottom: 0;
	//	left: 0;
	//	width: 100%;
	//}
}
